body{
    background-image: url(../../Img/Background.jpeg);
    background-color: rgb(70, 70, 70);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: flex;
    flex-flow: column nowrap;
    margin: 0px;
}

main>h1{
    text-align: center;
    color: white;
    font-size: 40pt;
}

main>p{
    color: white;
    text-align: center;
    font-size: 16pt;
}

main>section>nav{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    /* margin: auto; */
}

main>section>nav>a{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 49%;
    text-align: center;
    text-decoration: none;
    color: black;
    /* padding: 120px 50px; */
    background-color: rgb(240,240,240);
    border-radius: 10px;
    font-size: 48pt;
}

main>section>nav>a>img{
    width: 210px;
    /* max-width: 100px; */
    height: 170px;
}

main>section{
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.BotonCargarDatos{
    margin: 20px;
    width: 150px;
    height: 50px;
    margin: 10px 20px 0px 10px;
    padding: 0px;
    background-color: #1565c0;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-size: 11pt;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}

.Tarjeta{
    display: flex;
    flex-flow: row nowrap;
    gap: 12px;
    align-items: center;
    justify-content: center;
    background-color: rgb(240,240,240);
    margin: 10px 5px;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
}

.Tarjeta>img{
    max-width: 100px;
}

.Tarjeta>p{
    font-size: 12pt;
    margin: 0px;
}

.TarjetaInfo{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* text-align: justify; */
    width: 60%;
}

.TarjetaImg{
    display: flex;
    justify-content: center;
    width: 40%;
}

.TarjetaImg>.ImgTorneos{
    max-width: 160px;
}

.TarjetaImg>.ImgJugadores{
    max-width: 150px;
}

.TarjetaImg>.ImgJugadoras{
    max-width: 230px;
}

.MuiButtonBase-root{
    width: 10%;
}

@media (min-width: 0px) and (max-width: 599px) {
    /* main{
        margin: 10px;
    } */
    .Tarjeta{
        width: 100%;
        margin: 10px 0px;
        /* align-items: left; */
    }
    .TarjetaInfo{
        align-items: flex-start;
        margin-left: 10px;
        /* gap: 0px; */
    }
    .TarjetaImg>.ImgTorneos{
        max-width: 115px;
    }
    .TarjetaImg>.ImgJugadores{
        max-width: 140px;
    }
    .TarjetaImg>.ImgJugadoras{
        max-width: 210px;
    }
    main>section>nav{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        gap: 15px;
        margin: auto;
    }
    main>section>nav>a{
        width: 100%;
        font-size: 35pt;
    }
    main>section>nav>a>img{
        width: 140px;
        height: 120px;
    }
}

@media (min-width: 600px) and (max-width: 999px) {
    /* main{
        margin: 15px;
    } */
    .Tarjeta{
        width: 46%;
        margin: 10px 0px;
        /* align-items: left; */
    }
    .TarjetaInfo{
        align-items: flex-start;
        margin-left: 10px;
        /* gap: 0px; */
    }
    .TarjetaImg>.ImgTorneos{
        max-width: 125px;
    }
    .TarjetaImg>.ImgJugadores{
        max-width: 130px;
    }
    .TarjetaImg>.ImgJugadoras{
        max-width: 210px;
    }
    main>section>nav{
        /* display: flex;
        flex-flow: row wrap; */
        justify-content: center;
        gap: 15px;
        margin: auto;
    }
    main>section>nav>a{
        /* width: 100%; */
        font-size: 35pt;
    }
    main>section>nav>a>img{
        width: 130px;
        height: 120px;
    }
}
