table{
    display: table;
    width: 100%;
    margin: auto;
    table-layout: fixed;
}

table>tr{
    width: 100%;
}

table>th{
    width: 100%;
}

td{
    background-color: white;
    padding: 10px;
    font-size: 12pt;
}

.td_PrimeraColumna{
    width: 6%;
}

.td_SegundaColumna{
    width: 27%;
}

.td_TerceraColumna{
    width: 9%;
}

.td_CuartaColumna{
    width: 10%;
}

.td_QuintaColumna{
    width: 18%;
}

.td_SextaColumna{
    justify-content: center;
    width: 14%;
    /* padding: 3px; */
}

.td_SeptimaColumna{
    width: 8%;
}

.td_OctavaColumna{
    width: 8%;
}

td>img{
    display: flex;
    justify-self: center;
    align-self: center;
    width: 50px;
    /* height: 80px; */
}

@media (min-width: 0px) and (max-width: 599px) {
    td{
        padding: 5px;
        font-size: 10pt;
    }
    td>img{
        width: 40px;
        /* height: 80px; */
    }
}

@media (min-width: 600px) and (max-width: 999px) {

}
