table{
    display: table;
    width: 100%;
    margin: auto;
    table-layout: fixed;
}

table>tr{
    width: 100%;
}

table>th{
    width: 100%;
}

td{
    background-color: white;
    padding: 10px;
}

.td_PrimeraColumna{
    width: 7%;
}

.td_SegundaColumna{
    width: 25%;
}

.td_TerceraColumna{
    width: 8%;
}

.td_CuartaColumna{
    width: 10%;
}

.td_QuintaColumna{
    width: 20%;
}

.td_SextaColumna{
    width: 10%;
    /* padding: 3px; */
}

.td_SeptimaColumna{
    width: 10%;
}

.td_OctavaColumna{
    width: 10%;
}

td>img{
    width: 50px;
    /* height: 80px; */
}

@media (min-width: 0px) and (max-width: 599px) {
    td>img{
        width: 40px;
        /* height: 80px; */
    }
}

@media (min-width: 600px) and (max-width: 999px) {

}
